
<h1 class="px-4">
    Hawaiʻi Behavioral Crisis Statistics
</h1>

<div class="card block shadow-top my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Public Service Utilization Statistics
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4 nav-fill" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#served-by-cares-bc-tab"
            aria-controls="served-by-cares-bc-tab"
            aria-selected="true"
            >
            Served by Crisis Call Center
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="served-by-cares-bc-tab" role="tabpanel">
            <div class="d-flex vis-container">
                <div class="vis-nav left">
                    <button class="btn pr-1 pl-3 h-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1 vis-panels">
                    <div class="vis-panel active">
                        <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                        <h3 class="px-4">
                            Number of Incoming Calls
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav right">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>