
<h1 class="px-4">
    Hawaiʻi Substance Use Statistics
</h1>

<div class="card block shadow-top my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Rates of Substance Use
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4 nav-fill" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#co-occurring-su-mh-su-tab"
            aria-controls="co-occurring-su-mh-su-tab"
            aria-selected="true"
            >
            Co-Occurring Diagnosis: SU (Primary) and MH (Secondary)
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#co-occurring-mh-su-su-tab"
            aria-controls="co-occurring-mh-su-su-tab"
            aria-selected="false"
            >
            Co-Occurring Diagnosis: MH (Primary) and SU (Secondary)
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#polysubstance-use-su-tab"
                aria-controls="polysubstance-use-su-tab"
                aria-selected="false"
            >
            Polysubstance Use
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="co-occurring-su-mh-su-tab" role="tabpanel">
            <div class="d-flex vis-container">
                <div class="vis-nav left">
                    <button class="btn pr-1 pl-3 h-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1 vis-panels">
                    <div class="vis-panel active">
                        <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                        <h3 class="px-4">
                            Cases Per 10K Discharges
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Percent Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Test Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav right">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="co-occurring-mh-su-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="polysubstance-use-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>



<div class="card block shadow-top my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Overdose Statistics
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4 nav-fill" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#any-sub-od-su-tab"
            aria-controls="any-sub-od-su-tab"
            aria-selected="true"
            >
            Any Substance
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#opioid-od-su-tab"
            aria-controls="opioid-od-su-tab"
            aria-selected="false"
            >
            Related to Opioid Use
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#heroin-od-su-tab"
                aria-controls="heroin-od-su-tab"
                aria-selected="false"
            >
            Related to Heroin Use
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#stimulant-od-su-tab"
                aria-controls="stimulant-od-su-tab"
                aria-selected="false"
            >
            Related to Stimulant Use
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="any-sub-od-su-tab" role="tabpanel">
            <div class="d-flex vis-container">
                <div class="vis-nav left">
                    <button class="btn pr-1 pl-3 h-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1 vis-panels">
                    <div class="vis-panel active">
                        <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                        <h3 class="px-4">
                            Cases Per 10K Discharges
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Percent Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Test Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav right">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="opioid-od-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="heroin-od-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="stimulant-od-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>

<div class="card block shadow-top my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Overdose Death Statistics
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4 nav-fill" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#od-death-rates-su-tab"
            aria-controls="od-death-rates-su-tab"
            aria-selected="true"
            >
            Rates of Overdose Deaths
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#co-occurring-su-mh-od-deaths-su-tab"
            aria-controls="co-occurring-su-mh-od-deaths-su-tab"
            aria-selected="false"
            >
            Co-Occurring Diagnosis: MH (Primary) and SU (Secondary)
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#polysubstance-use-od-death-su-tab"
                aria-controls="polysubstance-use-od-death-su-tab"
                aria-selected="false"
            >
            Polysubstance Use
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="od-death-rates-su-tab" role="tabpanel">
            <div class="d-flex vis-container">
                <div class="vis-nav left">
                    <button class="btn pr-1 pl-3 h-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1 vis-panels">
                    <div class="vis-panel active">
                        <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                        <h3 class="px-4">
                            Cases Per 10K Discharges
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Percent Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Test Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav right">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="co-occurring-su-mh-od-deaths-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="polysubstance-use-od-death-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>

<div class="card block shadow-top my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Public Service Utilization Statistics
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4 nav-fill" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#served-by-adad-su-tab"
            aria-controls="served-by-adad-su-tab"
            aria-selected="true"
            >
            Served by ADAD
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#served-by-amhd-co-occurring-su-tab"
            aria-controls="served-by-amhd-co-occurring-su-tab"
            aria-selected="false"
            >
            Served by AMHD with co-occurring MH and SU diagnosis
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#served-by-adad-co-occurring-su-tab"
                aria-controls="served-by-adad-co-occurring-su-tab"
                aria-selected="false"
            >
            Served by ADAD with co-occurring MH and SU diagnosis
            </button>
        </li>
        <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#served-by-camhd-co-occurring-su-tab"
                aria-controls="served-by-camhd-co-occurring-su-tab"
                aria-selected="false"
            >
            Served by CAMHD with co-occurring MH and SU diagnosis
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="served-by-adad-su-tab" role="tabpanel">
            <div class="d-flex vis-container">
                <div class="vis-nav left">
                    <button class="btn pr-1 pl-3 h-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1 vis-panels">
                    <div class="vis-panel active">
                        <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                        <h3 class="px-4">
                            Cases Per 10K Discharges
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Percent Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                    <div class="vis-panel">
                        <h3 class="px-4">
                            Test Cases
                        </h3>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav right">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="served-by-amhd-co-occurring-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="served-by-adad-co-occurring-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="served-by-camhd-co-occurring-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>

<script src="../../js/dashboard.js" defer></script>
