
<h1>
    Hawaiʻi Substance Use Statistics
</h1>

<div class="card shadow my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Rates of Substance Use
    </h4>
    <hr>
    </div>

    <ul class="nav nav-pills px-4" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#co-occurring-su-mh-tab"
            aria-controls="co-occurring-su-mh-tab"
            aria-selected="true"
            >
            Co-Occurring Diagnosis: SU (Primary) and MH (Secondary)
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#co-occurring-mh-su-tab"
            aria-controls="co-occurring-mh-su-tab"
            aria-selected="false"
            >
            Co-Occurring Diagnosis: MH (Primary) and SU (Secondary)
            </button>
        </li>
        <li class="nav-item">
            <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#polysubstance-use-tab"
                aria-controls="polysubstance-use-tab"
                aria-selected="false"
            >
            Polysubstance Use
            </button>
        </li>
    </ul>

    <div class="tab-content px-0">
        <div class="tab-pane fade show active" id="co-occurring-su-mh-tab" role="tabpanel">
            <div class="d-flex">
                <div class="vis-nav">
                    <button class="btn px-1 h-100 end">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
                <div class="h-100 flex-grow-1">
                    <!-- replace with iframes, power bi graphs should have info/header on what is being measured -->
                    <div>
                        <h6 class="px-4">
                            Cases Per 10K Discharges
                        </h6>
                        <img class="w-100" src="../assets/img/temp/chart.png" alt="" />
                    </div>
                </div>
                <div class="vis-nav">
                    <button class="btn pl-1 pr-3 h-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="co-occurring-mh-su-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="polysubstance-use-tab" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>



<div class="card shadow my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Percentage of Emergency Department Discharges and Hospitalizations
    </h4>

    <hr>
    </div>

    <ul class="nav nav-pills px-4" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#polysubstance-percentage"
            aria-controls="polysubstance-percentage"
            aria-selected="true"
            >
            Polysubstance Use
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="polysubstance-percentage" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>

<div class="card shadow my-4">
    <div class="card-header">
    <h4 class="fw-bold">
        Rates of Emergency Department Discharges and Hospitalizations per DOSE Definitions
    </h4>

    <hr>
    </div>

    <ul class="nav nav-pills px-4" role="tablist">
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#any-drug-rates"
            aria-controls="any-drug-rates"
            aria-selected="true"
            >
            Any Drug Overdose
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#opioid-rates"
            aria-controls="opioid-rates"
            aria-selected="false"
            >
            Opioid Overdose
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#heroin-rates"
            aria-controls="heroin-rates"
            aria-selected="false"
            >
            Heroin Overdose
            </button>
        </li>
        <li class="nav-item">
            <button
            type="button"
            class="nav-link"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#stimulant-rates"
            aria-controls="stimulant-rates"
            aria-selected="false"
            >
            Stimulant Overdose
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="any-drug-rates" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="opioid-rates" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="heroin-rates" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
        <div class="tab-pane fade" id="stimulant-rates" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
        </div>
    </div>
</div>







<h4 class="fw-bold py-3 mb-4">
    Percentage of Overdose Deaths
</h4>

<div class="col-md-6 col-lg-11 order-1 mb-4">
    <div class="card h-100">
    <div class="card-header">
        <ul class="nav nav-pills" role="tablist">
        
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#all-death-od-percentage"
            aria-controls="all-death-od-percentage"
            aria-selected="true"
            >
            Compared to all drug related deaths
            </button>
            <li class="nav-item">
            <button
                type="button"
                class="nav-link"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#polysubstance-od-percentage"
                aria-controls="polysubstance-od-percentage"
                aria-selected="false"
            >
                Polysubstance Use
            </button>
        </li>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="all-death-od-percentage" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
            </div>
            <div class="tab-pane fade" id="polysubstance-od-percentage" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
            </div>
        </div>
        </ul>
    </div>
    </div>
</div>



<hr>



<h4 class="fw-bold py-3 mb-4">
    Number Served by Public Services
</h4>

<div class="col-md-6 col-lg-11 order-1 mb-4">
    <div class="card h-100">
    <div class="card-header">
        <ul class="nav nav-pills" role="tablist">
        
        <li class="nav-item">
            <button
            type="button"
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#adad-public-service"
            aria-controls="adad-public-service"
            aria-selected="true"
            >
            Served by ADAD
            </button>
        </li>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="adad-public-service" role="tabpanel">
            <img style="width:100%;" src="../assets/img/temp/chart.png" alt="" />
            </div>
        </div>
        </ul>
    </div>
    </div>
</div>
