
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
        <!-- CAN INSERT LOGO IMAGE HERE-->
        <span class=" demo menu-text fw-bolder ms-2">OD2A-C3</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Dashboard</span></li>
        <li id="overview" class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon fa-solid fa-house"></i>
            <div data-i18n="Analytics">Overview</div>
        </a>
        </li>
        <li id="substance-abuse" class="menu-item ">
        <a href="index.html" class="menu-link">
            <i class="menu-icon fa fa-syringe"></i>
            <div data-i18n="Analytics">Substance Abuse</div>
        </a>
        </li>
        <li id="mental-health" class="menu-item ">
        <a href="index.html" class="menu-link">
            <i class="menu-icon fa fa-user-md"></i>
            <div data-i18n="Analytics">Mental Health</div>
        </a>
        </li>
        <li class="menu-item ">
        <a id="behavioral-co-occuring" href="index.html" class="menu-link">
            <i class="menu-icon fa-solid fa-arrow-down-up-across-line"></i>
            <div data-i18n="Analytics">Co-Occuring</div>
        </a>
        </li>
        <li id="crisis" class="menu-item ">
        <a href="index.html" class="menu-link">
            <i class="menu-icon fa fa-ambulance"></i>
            <div data-i18n="Analytics">Behavioral Crisis</div>
        </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">About</span></li>
        <li id="about" class="menu-item">
        <a
            href="project.html"
            class="menu-link"
        >
            <i class="menu-icon fa-solid fa-info-circle"></i>
            <div data-i18n="Project">About The Project</div>
        </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Help</span></li>
        <li id="support" class="menu-item">
        <a
            href="support.html"
            class="menu-link"
        >
            <i class="menu-icon fa-solid fa-headset"></i>
            <div data-i18n="Support">Support</div>
        </a>
        </li>
        <li id="documentation" class="menu-item">
        <a
            href="documentation.html"
            class="menu-link"
        >
            <i class="menu-icon fa-solid fa-book"></i>
            <div data-i18n="Documentation">Documentation</div>
        </a>
        </li>
    </ul>
    </aside>