/* viewport_size: (
    s: 320px,
    m: 768px,
    l: 1200px
); */



a {
  cursor: pointer;
}


.desktop {
  display: none;
}

.layout-menu-toggle-container .layout-menu-toggle {
  padding-top: 14px;
  padding-left: 26px;
}

